body {
    margin: 0;
    padding: 0;
    height: auto;
    min-width: 1100px;
    font-family: "Microsoft YaHei","宋体","Arial Narrow",HELVETICA!important;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: auto;
    font-size: 62.5%;
}
input,textarea,button,select{
	outline:none;
}
.hide {
    display: none;
}
.banner{
	position: relative;
}
.banner img{
    display: block;
    border: none;
}
.banner-tab{
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 1060px;
	left:50%;
	margin-left:-530px;
}
.banner-tab ul li{
	float: left;
	width:340px;
	height:93px;
	margin-right: 20px;
	cursor: pointer;
	position: relative;
	text-align: center;
    background: none!important;
}
.banner-tab ul li:last-child{
	margin-right: 0;
}
.banner-tabCon{
	position: absolute;
	bottom: 10px;
	width: 100%;
	color:#fff;
}
.tabCN{
	font-size: 2.4rem;
	color:#000;
}
.tabEN{
	font-size: 1.4rem;
	color:#b90b2c;
}
.banner-tab ul li.active .tabCN{
	color:#fff;
}
.banner-tab ul li.active .tabEN{
	color:#fff;
}
/*第一部分*/
.nav-ul, .nav-ul2, .nav-ul3 {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 8%;
  top: 50%;
  width: 12px;
  margin-top: -38px;
  z-index: 66666; }

.nav-ul li, .nav-ul2 li, .nav-ul3 li {
  padding: 0;
  margin: 0;
  list-style: none;
  position:relative;
  margin: 10px 0; }
  
.nav-ul li p, .nav-ul2 li p, .nav-ul3 li p{
    position: absolute;
    left: 20px;
    top: -5px;
    font-size: 1.4rem;
    line-height: 14px;
    white-space: nowrap;
    background: #ba0c2f;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display:none;
}
.nav-ul a, .nav-ul2 a, .nav-ul3 a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ba0c2f;
  background: transparent;
  margin: 5px 0;
  cursor: pointer; }

.active {
  background: #ba0c2f !important; }
.a-active {
  background: #ba0c2f !important; }
  
.active > a{
	color:#fff!important;}
.panel1{
    width: 1100px;
    margin: auto;
    padding-bottom: 40px;
    position: relative;
}
.panel-title{
    text-align: center;
    padding-top: 40px;
}
.panel-text{
	font-size: 2.4rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 5px;
}
.panel-tab{
	position: absolute;
	left: -200px;
	top: 107px;
}
.panel-tab ul li{
	line-height: 2.4rem;
	cursor: pointer;
}
.panel-tab ul li span{
	border:1px solid #A09C96;
	width:9px;
	height:9px;
	border-radius: 50%;
	display: inline-block;
	margin-right:15px;
    vertical-align: middle;
}
.panel-tab ul li span.active{
	background: #ba0c2f;
	border: 5px solid #F496A0;
	margin-left: -5px;
    margin-right: 12px;
}
.panel-tab ul li p{
	display: inline-block;
    font-size: 1.4rem;
}
.companyTab ul{
    margin: 0 auto;
    text-align: center;
    width: 575px;
    height:37px;
}
.companyTab ul li{
	width:190px;
	height:35px;
	border:1px solid #ba0c2f;
	color:#ba0c2f;
	float: left;
	border-right:none;
	font-size: 1.4rem;
	line-height: 35px;
	position: relative;
	cursor: pointer;
}
.companyTab ul li:last-child{
	border-right:1px solid #ba0c2f;
	border-radius: 0 5px 5px 0;
}
.companyTab ul li:first-child{
	border-radius: 5px 0 0 5px;
}
.companyTab ul li.active{
	color:#fff;
	background: #ba0c2f;
}
.companyTab ul li a{
	display:block;
	color:#ba0c2f;
}
.companyTab ul li div{
	position: absolute;
	width:10px;
	height:10px;
	background: #ba0c2f;
	bottom:-6px;
	left: 90px;
	transform: rotate(45deg);
	display: none;
}
.companyTab ul li.active div{
	display: block;
}
.companyTabCon{
	margin-top: 30px;
}
.companyTabCon > div{
	display: none;
}
.companyTabCon > div:first-child{
	display: block;
}
.companyTabCon p{
	font-size: 1.4rem;
	color: #2b2b2f;
    line-height: 2rem;
}
.companyTabCon p > span{
	color:#ba0c2f;
	font-size: 1.6rem;
}
.companyTabCon-third > img{
    margin: 0 auto;
    display: block;
}
.companyTabCon-btn{
	text-align: center;
	margin-top: 20px;
}
.companyTabCon-btn button{
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 8px 35px;
    background: #fff;
    position: relative;
}
.companyTabCon-btn button i{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #ba0c2f;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    left: 10px;
    top: 10px;
}
.companyTabCon-btn button:hover{
	background: #ba0c2f;
	color:#fff;
	border:1px solid #ba0c2f;
}
.companyTabCon-btn button:hover i{
	background:#fff;
	color:#ba0c2f;
}
.panel-report{
	height:240px;
	overflow: hidden;
	position: relative;
}
.panel-report > div{
	height:240px;
}
.reportLeft{
	float: left;
	width:58.333333333334%;
	background: #F5F5F4;
}
.reportRight{
	float: right;
	width: 41.666666666666%;
	background: url(../images/credit/panel1-bg.png) center center;
	background-size: 100% 100%;
}
.reportRight .reportRight-title{
	color:#fff;
	font-size: 1.6rem;
	border-left:5px solid #ba0c2f;
    margin: 15px 0 40px 40px;
    padding-left: 10px;
}
.reportRight .reportRight-con{
	margin-left:160px;
    width: 112px;
    text-align: center;
	font-size: 1.4rem;
	color:#fff;
}
.reportRight .reportRight-con.textEN{
	margin-left: 55px;
    width: 260px;
}
.reportRight .reportRight-con p{
	margin-top:10px;
}
.panel-position{
	position: absolute;
	top:0;
	width: 60%;
	left:20%;
}
.panel-position .reportRight-title{
	font-size: 1.6rem;
	border-left:5px solid #ba0c2f;
    margin: 15px 0 40px 0;
    padding-left: 10px;
}
.panel-position ul{
	overflow: hidden;
    width: 63.6%;
}
.panel-position ul li{
	font-size: 1.4rem;
	width:20%;
	text-align: center;
	float: left;
	padding:0 6.5%;
}
.panel-position ul.textEN li{
	width:33%;
	padding:0;
}
.panel-position ul li.liLine{
	width:2px;
	height:40px;
	background: #E1DFDA;
	padding:0;
    margin-top: 35px;
    position: relative;
}
.panel-position ul li:last-child{
	border:none;
}
.panel-position ul li p{
	margin-top:10px;
}
/*第二部分*/
.panel2{
	height:388px;
	background: url(../images/credit/panel2-bg.jpg) center center;
    background-size: 100% 100%;
}
.panel2 .panel-text{
	color:#fff;
}
.panel2-content{
	position: relative;
	width:990px;
	margin:0 auto;
	padding:22px 25px;
    bottom: -15px;
}
.panel2-infor{
	padding:32px 35px;
	color: #fff;
    background: rgba(0,0,0,.2);
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
}
.panel2-content > img{
	position: absolute;
}
.leftBorder{
	top: 0;
	left: 0;
}
.rightBorder{
	right: 0;
	bottom: 0;
}
/*第三部分*/
.panel3{
	height:614px;
	background: url(../images/credit/panel3-bg.png) center center;
    background-size: 100% 100%;
}
.panel3 > img{
	display: block;
	margin:20px auto 0;
}
.lianxinTech{
    display: block;
    height: 93px;
    width: 100%;
    position: absolute;
    top: 0;
}
.creditOne, .creditTwo{
	display:none;
}
/* 逾期账款管理 */
.creditTwo .companyTab ul{
	width: 484px;
    margin: 40px auto 0;
}
.creditTwo .companyTab ul li{
	width:240px;
}
.creditTwo .companyTab ul li div{
	left:115px;
}
.creditTwo .companyTabCon{
    margin-top: 0;
    text-align: center;
}
.chinese, .international{
	display:none;
}
.creditTwo .companyTabCon p > span{
	font-size: 1.4rem;
}
.panelCate{
	height:649px;
    background: url(../images/credit/cateBg.png) center center;
    background-size: 100% 100%;
}
.panelCateCon{
	width:668px;
	height:341px;
	margin:70px auto 0;
	position:relative;
}
.panelCateCon > img{
    margin-top: 40px;
    margin-left: 3px;
}
.cateChild{
	position:absolute;
}
.cateChild1{
	bottom: 13px;
    left: -129px;
}
.cateChild2{
    bottom: 158px;
    left: 37px;
}
.cateChild3{
    bottom: 158px;
    right: 37px;
}
.cateChild4{
    bottom: 13px;
    right: -129px;
}
.cateText{
	width:271px;
	height:40px;
    line-height:38px;
	text-align: center;
    color: #fff;
    font-size: 1.8rem;
    background: url(../images/credit/cateTextBg.png) center center;
    margin-top:12px;
}
.cateText .textEN{
    font-size: 1.4rem;
}
.panelAdvantage{
	height:745px;
    background: url(../images/credit/advanBg.png) center center;
    background-size: 100% 100%;
    margin-top: -60px;
    z-index: -1;
    position: relative;
    padding-top: 60px;
}
.panelAdvan{
	position:relative;
	width:1100px;
	margin:40px auto 0;
	height:450px;
}
.cateChild, .advanchild{
	position:absolute;
	width:260px;
	height:212px;
}
.advanchild1{
    background: url(../images/credit/advan1.png) center center;
	
}
.advanchild2{
    background: url(../images/credit/advan2.png) center center;
	left: 290px;
}
.advanchild3{
    background: url(../images/credit/advan3.png) center center;
	left: 580px;
}
.advanchild4{
    background: url(../images/credit/advan4.png) center center;
	right:0;
}
.advanchild5{
    background: url(../images/credit/advan5.png) center center;
	bottom: 0;
    left: 60px;
}
.advanchild6{
    background: url(../images/credit/advan6.png) center center;
	bottom: 0;
    left: 330px;
}
.advanchild7{
    background: url(../images/credit/advan7.png) center center;
	bottom: 0;
    left: 600px;
}
.advanchild8{
    background: url(../images/credit/advan8.png) center center;
    bottom: 0;
    left: 870px;
}
.advanchildText{
    width: 238px;
    padding-left: 38px;
    padding-top: 90px;
}
.advanchildText .textCNTop{
	font-size:1.6rem;
	font-weight: 600;
}
.advanchildText .textCNBtm{
	font-size:1.4rem;
	color:#656460;
}
.advanchildText .textENTop{
	font-size:1.4rem;
	font-weight: 600;
}
.advanchildText .textENBtm{
	font-size:1.2rem;
	color:#656460;
}
.line{
	width:34px;
	height:4px;
	background:#ba0c2f;
}
.lineCN{
	margin: 20px 0;
}
.lineEN{
	margin: 10px 0;
}
.international .companyTabCon p, .international .companyTabCon p span{
	font-size:1.6rem;
}
.panelGlobal{
	height:612px;
    background: url(../images/credit/globalBg.png) center center;
    background-size: 100% 100%;
}
.globalCon{
	width:1100px;
	margin:0 auto;
}
.globalConChild{
	padding-left:25px;
	height:355px;
	position:relative;
}
.globalBg{
	position:absolute;
	right:0;
	bottom:0;
	z-index:0;
}
.globalText{
	width:865px;
	height:340px;
	background:#fff;
	position: absolute;
    right: 20px;
    bottom: 20px;
    padding-left:250px;
    box-sizing: border-box;
}
.globalLeft{
	width:600px;
	height:100%;
    box-sizing: border-box;
    font-size:1.4rem;
}
.globalLeft.textCN{
	padding-top: 90px;
}
.globalLeft.textEN{
	padding-top: 70px;
}
.globalLeft p{
    line-height: 2rem;
    font-weight: 600;
}
.globalLeft p span{
	color:#be1b3a;
}
.globalLeft p.only{
	margin-top:30px;
}
.globalBtn a{
	float:right;
    width: 130px;
    height: 34px;
    margin-bottom: 10px;
    border: 1px solid #d2d2d2;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 34px;
    line-height: 31px;
    position: relative;
    cursor: pointer;
	display:block;
	position:relative;
	color:#000;
}
.textCN .globalBtn a{
    margin-top: 45px;
}
.textEN .globalBtn a{
    margin-top: 20px;
}
.globalBtn a i{
	position:absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #ba0c2f;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    left: 10px;
    top: 9px;
    line-height: 16px;
}
.globalBtn a:hover{
    background: #ba0c2f;
    border: 1px solid #ba0c2f;
    color: #fff;
}
.globalBtn a:hover i{
	background: #fff;
	color:#ba0c2f;
}

.panelLocation{
	width:60%;
	margin:0 auto;
}
#main2{
	position:relative;
	width:100%;
    top: -10px;
}
.companyInfor{
	right:0;
	top:0;
	z-index:999;
	float:right;
	padding-top:23px;
}
.menu-item{
	font-size:1.2rem;
}
.menuTitle{
	text-decoration: none;
    color: #0d0d0d;
    display: block;
    border-top: 1px solid #000;
    padding: 8px 14px;
}
.menu-item:last-child a{
	border-bottom:1px solid #000;
}
.menuTitle i{
	float:right;
	font-size:1.4rem;
}
.menuTitle.active, .menuTitle.active1{
	background:#ba0c2f!important;
	color:#fff;
}
.menuCon{
	padding: 14px;
	overflow:hidden;
	display:none;
    padding-right: 0;
}
.menuCon ol li{
	float:left;
	margin-bottom:5px;
}
.panelLocation .panel-title{
	padding-top:0;
}
.panelLocation .companyInfor{
	padding-top:0;
	padding-bottom:10px;
}
.panelLocation .panel-title > img{
	width:100%;
}
.panelLocation .panel-text{
	padding-top:5px;
}
.rotate{
	transform-origin: center center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    -ms-transition: -ms-transform 0.2s;
}
.rotate1{
	transform-origin: center center;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    -ms-transition: -ms-transform 0.2s;
}
.panelYS{
	height:854px;
    background: url(../images/credit/advanYSBg.jpg) center center;
    background-size: 100% 100%;
}
.ysConChildAll{
	position:relative;
	float:left;
}
.ysConChild{
	width:1100px;
	height:638px;
	margin:0 auto;
	margin-top:10px;
}
.ysConChild_one{
	width:556px;
	height:311px;
	background: url(../images/credit/ys1.png) center center;
}
.ysConChild_two{
	width:542px;
	height:332px;
	background: url(../images/credit/ys2.png) center center;
}
.ysConChild_three{
	width:542px;
	height:331px;
	background: url(../images/credit/ys3.png) center center;
	margin-top: -25px;
}
.ysConChild_four{
	width:558px;
	height:314px;
	background: url(../images/credit/ys4.png) center center;
    margin-top: -8px;
}
.ysConChildAll p{
	position:absolute;
	font-size:1.4rem;
	font-weight:600;
}
.ysConChildAll .textEN p{
	font-size:1.2rem;
}
.tourism, .education, .exhibition, .banking, .textEN .tourism, .textEN .education, .textEN .exhibition, .textEN .banking{
	top: 102px;  
}
.tourism{
	left: 67px;
}
.textEN .tourism{
	left:63px;
}
.education{
    left: 180px;
}
.textEN .education{
	left: 164px;
}
.exhibition{
    left: 280px;
}
.textEN .exhibition{
	left: 266px;
}
.banking{
    left: 391px;
}
.textEN .banking{
	left: 380px;
}
.medical, .trade, .manufacture, .textEN .medical, .textEN .trade, .textEN .manufacture{
	top: 153px;
}
.medical{
    left: 126px;
}
.trade{
    left: 233px;
}
.manufacture{
    left: 330px;
}
.textEN .medical{
	left: 116px;
}
.textEN .trade{
	left: 229px;
}
.textEN .manufacture{
	left: 310px;
}
.other{
    top: 140px;
    right: 72px;
    color: #fff;
}
.textEN .other{
    top: 142px;
    right: 85px;
}
.titleTop{
	color:#fff;
	font-size:2rem!important;
}
.titleBtm{
	color:#929291;
    font-weight:normal!important;
}
.ysConChild_one .titleTop{
    bottom: 40px;
    left: 206px;
}
.ysConChild_one .titleBtm{
    bottom: 16px;
    left: 166px;
}
.ysConChild_one .textEN .titleTop{
	font-size:1.6rem!important;
    bottom: 42px;
    left: 78px;
}
.ysConChild_one .textEN .titleBtm{
    bottom: 20px;
    left: 61px;
}
.ysConChild_two .titleTop{
    bottom: 61px;
    left: 198px;
}
.ysConChild_two .titleBtm{
    bottom: 37px;
    left: 128px;
}
.ysConChild_two .textEN .titleTop{
	font-size:1.6rem!important;
    left: 131px;
}
.ysConChild_two .textEN .titleBtm{
    left: 138px;
}
.ysConChild_three .titleTop{
    bottom: 52px;
    left: 230px;
}
.ysConChild_three .titleBtm{
    bottom: 25px;
    left: 160px;
}
.ysConChild_three .textEN .titleTop{
	font-size:1.6rem!important;
	bottom: 57px;
    left: 195px;
}
.ysConChild_three .textEN .titleBtm{
	bottom: 30px;
    left: 68px;
}
.ysConChild_four .titleTop{
    bottom: 52px;
    left: 198px;
}
.ysConChild_four .titleBtm{
    bottom: 25px;
    left: 133px;
}
.ysConChild_four .textEN .titleTop{
	font-size:1.6rem!important;
	bottom: 54px;
    left: 195px;
}
.ysConChild_four .textEN .titleBtm{
	bottom: 30px;
    left: 52px;
}
.legal{
    left: 132px;
    bottom: 110px;
}
.RD{
    bottom: 110px;
	right:110px;
}
.field{
    top: 133px;
    left: 124px;
}
.credit{
	top: 133px;
    right:100px;
}
.service{
	top: 71px;
    left: 162px;
}
.restoration{
    top: 28px;
    left: 267px;
}
.improvement{
	top: 71px;
    right: 136px;
}
.team{
	left: 260px;
    top: 170px;
    font-size: 1.2rem!important;
}
.textEN .legal{
    left: 75px;
}
.textEN .RD{
	right:66px;
}
.textEN .field{
    left: 60px;
}
.textEN .credit{
    right:50px;
}
.textEN .service{
    left: 86px;
}
.textEN .restoration{
    left: 232px;
}
.textEN .improvement{
    right: 42px;
}
.textEN .team{
	left: 252px;
}
.suggestionsInfor{
	overflow: hidden;
	margin:15px 0;
}
.suggestionsInfor ul li{
	width: 260px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid #E1DFDA;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.suggestionsInfor ul li:last-child{
	margin-right:0;
}
.suggestionsInfor ul li span{
	display: inline-block;
    font-size: 1.4rem;
    margin-left: 20px;
    margin-top: 9px;
}
.suggestionsInfor ul li input{
	border:none;
	height:37px;
	display: inline-block;
	padding-left:20px;
    width: calc(100% - 31px);
}
.liLine{
	width:2px;
	height:20px;
	background: #ba0c2f;
	display: inline-block;
	position: absolute;
	left:-1px;
	top:11px;
}
.suggestionsInfor ul li i{
    color: #ba0c2f;
    margin-left: 8px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-top: 6px;
}
.suggestionsContent{
	margin-top:20px;
	border: 1px solid #E1DFDA;
}
.suggestionsContent textarea{
	width: 100%;
	min-height: 100px;
	resize:none;
	border:none;
	padding: 10px;
	line-height: 20px;
}
.suggestionsBtn{
	text-align: center;
	margin-top:15px;
    height: 80px;
}
.suggestionsBtn button{
	width:260px;
	height:40px;
	color:#fff;
	background: #ba0c2f;
	line-height: 40px;
	border:none;
	cursor: pointer;
	border-radius: 5px;
}
.suggestionsBtn p{
	display:none;
	margin: 7px 0;
}
.suggestionsBtn .resetCN, .suggestionsBtn .resetEN, .suggestionsBtn .resetCNPhone,
.suggestionsBtn .resetCNGSName, .suggestionsBtn .resetCNZWGSName, .suggestionsBtn .resetCNGJ, 
.suggestionsBtn .resetCNMoney, .suggestionsBtn .resetCNContent{
	color:#ba0c2f;
}
.suggestionsBtn .successCN, .suggestionsBtn .successEN{
	color:#6CB346;
}
.suggestionsInfor ul li > p{
	position:absolute;
	right:10px;
	top:10px;
	font-size: 1.3rem;
    color: #777;
}
#mediaplayer{
    position: absolute;
    top: 22px;
    z-index: 10;
}
.jwfullscreen{
	display:none;
}
.videoBorder{
	position:absolute;
	top:5px;
	left: 42px;
}




