/*.shadowBox {*/
/*-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
/*!* 老的 Firefox *!*/
/*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }*/


/*.nav-header {*/
/*width: 100%;*/
/*height: 70px;*/
/*position: fixed;*/
/*left: 0;*/
/*top: 0;*/
/*z-index: 6666666666;*/
/*background: rgba(0, 0, 0, 0.05); }*/
/*.nav-header .all-content {*/
/*width: 75%;*/
/*margin: auto; }*/
/*.nav-header .left {*/
/*height: 100%;*/
/*float: left;*/
/*width: 40%;*/
/*cursor: pointer; }*/
/*.nav-header .right {*/
/*float: right;*/
/*width: 60%; }*/
/*.nav-header .right .container {*/
/*width: 100%;*/
/*height: 100px;*/
/*margin: 14px auto 0; }*/
/*.nav-header .right .menu {*/
/*height: 70px;*/
/*line-height: 70px;*/
/*background: url("img/bg1.png") repeat-x; }*/
/*.nav-header .right .menu li {*/
/*float: left;*/
/*position: relative;*/
/*width: 12.5%;*/
/*height: 70px; }*/
/*.nav-header .right .menu li a:hover {*/
/*color: #FFF;*/
/*background: #b90b2c; }*/
/*.nav-header .right .menu li.focusa {*/
/*color: #FFF;*/
/*background: #b90b2c; }*/
/*.nav-header .right .menu li a {*/
/*display: block;*/
/*float: left;*/
/*height: 30px;*/
/*line-height: 30px;*/
/*padding: 0;*/
/*width: 100%;*/
/*text-align: center; }*/
/*.nav-header .right .menu li ul {*/
/*position: absolute;*/
/*left: 0;*/
/*width: 113%;*/
/*display: none; }*/
/*.nav-header .right .menu li ul a {*/
/*width: 100%; }*/
/*.nav-header .right .one li {*/
/*height: 30px;*/
/*width: 100%; }*/
/*.nav-header .right .one li:hover {*/
/*background: #b90b2c; }*/
/*.nav-header .right .blbg {*/
/*background: rgba(0, 0, 0, 0.08); }*/
/*.nav-header .right .bgwhite {*/
/*background: white; }*/
/*.nav-header .right .two li {*/
/*height: 30px;*/
/*width: 100%;*/
/*background: rgba(0, 0, 0, 0.08); }*/
/*.nav-header .right .one {*/
/*top: 55px; }*/
/*.nav-header .right a {*/
/*text-decoration: none;*/
/*color: #FFFFFF; }*/
/*.nav-header .right .menu li ul.two {*/
/*left: 100%; }*/
/*.nav-header .right .menu li ul.hdw {*/
/*left: 150px; }*/
/*.nav-header .right .menu li ul.hdwq {*/
/*left: 150px; }*/

/*.index-main {*/
/*height: auto; }*/

.section1 {
    width: 100%;
    position: relative;
}

.section1 .arrowDown {
    position: absolute;
}

.section1 .banner-box {
    position: relative;
    width: 100%;
    height: 48vw;
    min-width: 1100px;
    min-height: 528px;
}

.section1 .banner-box img {
    width: 100%;
    height: 100%;
}

.section1 .banner-box .banner-video {
    position: relative;
}

.section1 .banner-box .banner-video video {
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: cover;
}

.section1 .banner-box .banner-video .videoPlayButton {
    display: block;
    position: absolute;
    font-size: 50px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    cursor: pointer;
}

.section1 .banner-box .banner-video .videoPlayButton:hover {
    color: #ba0c2f;
}

.section1 .banner-box .banner-pagination {
    position: absolute;
    top: 90%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.section2 {
    height: 570px;
    background: url("../images/index/aboutusbg.jpg") center no-repeat;
}

.about-us-list {
    margin: 0 auto;
    margin-top: 45px;
}

.about-us-item {
    width: 25%;
    float: left;
    text-align: center;
}

.about-us-item-pic {
    width: 169px;
    height: 191px;
    margin: 0 auto;
    position: relative;
}

.about-us-item-pic-s {
    position: relative;
}

.about-us-item-pic-h {
    position: absolute;
    top: 0;
    transition: opacity .3s;
    opacity: 0;
}

.about-us-item-pic-h img {
    filter: drop-shadow(0 3px 15px rgba(185, 11, 44, 0.8));
}

.about-us-item-pic-h .about-us-item-pic-text {
    width: 60%;
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    position: absolute;
    top: 50%;
    left: 33px;
    transform: translateY(-50%);
    z-index: 1;
}

.about-us-item-text {
    font-size: 20px;
    color: #262626;
    font-weight: bold;
    margin-top: 12px;
}

.about-us-item-text-en {
    font-size: 12px;
    color: #000;
    font-weight: bold;
}

.about-us-item:hover .about-us-item-pic-s {
}

.about-us-item:hover .about-us-item-pic-h {
    opacity: 1;
}

.about-us-item:hover .about-us-item-text {
    color: #b90b2c;
}

/*.section2 .two-all {*/
/*width: 60%;*/
/*margin: auto;*/
/*}*/
/*#main-two .two-all{*/
/*width:72%;*/
/*}*/
/*.section2 .two-top {*/
/*background: #f7f7f7;*/
/*height: auto;*/
/*padding-top: 40px;*/
/*padding-bottom: 3%; }*/
/*.section2 .two-top .two-content {*/
/*width: 100%;*/
/*overflow: hidden; }*/
/*.section2 .two-top .two-icon {*/
/*width: 18.5%;*/
/*float: left;*/
/*text-align: center;*/
/*position: relative; }*/
/*.section2 .two-top .two-icon:first-child {*/
/*width:44.5%;*/
/*}*/
/*.section2 .two-top .two-icon .line {*/
/*position: absolute;*/
/*width: 39%;*/
/*background: #cccccc;*/
/*height: 1px;*/
/*right: -22%;*/
/*top: 26px; }*/
/*.section2 .two-top .two-icon:first-child .line{*/
/*width: 19%;*/
/*right: 0%;*/
/*}*/
/*.section2 .two-top .textred {*/
/*color: #b90b2c;*/
/*font-size: 2.6rem;*/
/*margin-top: 18px;*/
/*font-weight: bold; }*/
/*.section2 .two-top .textred span {*/
/*color: #2b2b2f;*/
/*font-size: 1.4rem; }*/
/*.section2 .two-top .grayfont {*/
/*color: #a7a7a7;*/
/*font-size: 1.4rem; }*/
/*.section2 .two-bottom {*/
/*text-align: center;*/
/*background: #ffffff;*/
/*height: auto;*/
/*font-size: 1.8rem;*/
/*color: #666666; }*/
/*.section2 .two-bottom .two-content {*/
/*line-height: 2.8rem; }*/
/*.section2 .two-bottom .two-content span {*/
/*!*color: #b90b2c;*! }*/
/*.section2 .two-bottom .two-text {*/
/*font-size: 2.4rem;*/
/*color: #000000;*/
/*text-align: center;*/
/*margin-bottom: 40px;*/
/*font-weight: bold; padding-top: 5px;}*/
/*.section2 .two-bottom .two-title {*/
/*margin-top: 40px; }*/
/*.section2 .two-bottom .two-more {*/
/*margin: 3% auto; }*/

.section4 {
    height: 547px;
    background: url("../images/index/3-2.jpg") no-repeat center;
}

/*.section4 .boxshow {
    -moz-box-shadow: 0 10px 5px #888888;
    !* 老的 Firefox *!
    box-shadow: 0 10px 5px #888888;
}*/
.section3 {
    height: auto;
    background: #FFFFFF;
}

.section3 #news-box {
    width: 100%;
    height: 370px;
    position: relative;
}

.section3 .news-title-more {
    position: absolute;
    bottom: -25px;
    right: -372px;
    color: #b90b2c;
    font-weight: bolder;
    font-size: 1.2rem;
}

.section3 #news-box .news-pagination {
    position: absolute;
    top: 90%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.section3 #news-box .swiper-slide {
    background: #fff;
}

.section3 .tab-show {
    padding: 0 15px;
    position: relative;
    height: 304px;
    overflow: hidden;
}

.section3 .tab-show .day-show {
    height: 46px;
    width: 60px;
    border: 1px solid #e0e0e0;
    border-top: 2px #b90b2c solid;
    box-sizing: border-box;
    margin-bottom: 8px;
    text-align: center;
}

.section3 .tab-show > a > img {
    max-width: 325px;
    height: 135px;
}

.section3 .tab-show .day-show .small {
    font-size: 12px;
}

.section3 .tab-show .day-show .big {
    font-size: 20px;
}

.section3 .tab-show .title-text {
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}

.section3 .tab-show .line {
    background: #cccccc;
    height: 1px;
    width: 40px;
    margin: 20px 0;
}

.section3 .tab-show .grayfont {
    color: #666666;
    font-size: 12px;
    text-align: justify;
    height: 34px;
    overflow: hidden;
}

.section3 .tab-show .grayfont > p {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.section3 .tab-show:hover .tab-hide {
    opacity: 1;
}

.section3 .tab-hide {
    position: absolute;
    bottom: 0;
    background: white;
    padding: 0 12px;
    border: 1px solid #e0e0e0;
    border-top: 2px #b90b2c solid;
    box-sizing: border-box;
    height: 100%;
    width: 94%;
    cursor: default;
    opacity: 0;
}

.section3 .tab-show:hover .tab-hide {
    opacity: 1;
}

.section3 .tab-hide .title-text {
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.section3 .tab-hide .line {
    background: #b90b2c;
    height: 2px;
    width: 20px;
    margin: 20px 0;
}

.section3 .tab-hide .grayfont {
    color: #000000;
    font-size: 12px;
    text-align: justify;
    height: 110px;
}

.section3 .tab-hide .grayfont > div {
    text-indent: 2.4rem;
    height: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.section3 .tab-hide .news-link {
    text-align: center;
    padding-top: 20px;
}

.section4 .services-title-more {
    position: absolute;
    bottom: -25px;
    right: -310px;
    color: #fff;
    font-size: 1.2rem;
}

.section4 .services-panel {
    position: relative;
    width: 92%;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.section4 .services-panel .services-item {
    height: 330px;
    flex: 1;
    background: #f7f7f7;
    position: relative;
}

.section4 .services-panel .services-show .services-img {
    text-align: center;
    height: 94px;
    width: 94px;
    margin: 17px auto;
    border-radius: 100%;
    border: 1px solid #d1d1d1;
}

.section4 .services-panel .services-show .services-img img {
    margin-top: 6px;
}

.section4 .services-panel .services-show .services-title {
    font-size: 1.7rem;
    color: #000000;
    padding-top: 0;
    font-weight: bold;
    height: 21px;
}

.section4 .services-panel .services-show .services-line {
    width: 30px;
    height: 5px;
    background: #b90b2c;
    margin: 20px auto 20px;
}

.section4 .services-panel .services-show .services-summary {
    font-size: 1.2rem;
    color: #999999;
    height: 80px;
    overflow: hidden;
    text-align: center;
}

.section4 .services-panel.services-panel-EN .services-show .services-summary {
    text-align: center;
}

.section4 .services-panel .services-show .services-more {
    width: 100%;
    text-align: center;
    margin: 0 auto 20px;
}

.section4 .services-panel .services-inner {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 0 40px;
}
.section4 .services-panel .services-item:nth-of-type(-n+3) .services-inner {
    border-right: 1px dashed #999999;
}

.section4 .services-panel .services-hide {
    width: 100%;
    border-top: 2px solid #b90b2c;
    background: white;
    position: absolute;
    bottom: 0;
    height: 0;
}

.section4 .services-panel .services-hide p span {
    display: block;
}

.section4 .services-panel .services-hide .services-hContent {
    padding: 18px 18px 8px 18px;
    background: white;
}

.section4 .services-panel .services-hide .services-title {
    font-size: 1.8rem;
    font-weight: bolder;
    color: #000000;
    padding-top: 0;
}

.section4 .services-panel .services-hide .services-line {
    width: 30px;
    height: 5px;
    background: #b90b2c;
    margin: 20px auto 20px;
}

.section4 .services-panel .services-hide .services-content {
    font-size: 16px;
    color: #999999;
    height: 145px;
    overflow: hidden;
    line-height: 21px;
}

.section4 .services-panel.services-panel-EN .services-hide .services-content {
    font-size: 12px;
}

.section4 .services-panel .services-hide .services-arrow {
    text-align: center;
}

.section4 .services-panel .services-bg {
    width: 328px;
    height: 355px;
    position: absolute;
    bottom: 0;
    background: url("../images/index/sanRed.png") no-repeat center top #f7f7f7;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    /* 老的 Firefox */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 66666666;
    overflow: hidden;
    left: -15%;
    display: none;
}

.section4 .services-panel.services-panel-EN .services-bg {
    width: 452px;
}
.section4 .services-panel.services-panel-EN .services-item:nth-of-type(1) .services-bg {
    left: -16%;
}
.section4 .services-panel.services-panel-EN .services-item:nth-of-type(2) .services-bg {
    left: -40%;
}
.section4 .services-panel.services-panel-EN .services-item:nth-of-type(3) .services-bg {
    left: -40%;
}
.section4 .services-panel.services-panel-EN .services-item:nth-of-type(4) .services-bg {
    left: -63%;
}

.section4 .services-panel .services-item:hover .services-bg {
    display: block;
}

.section5 .two-all.textEN {
    height: 420px;
}

.section5 .textEN .group-one .iconText {
    width: 372px;
    left: -205px;
}

.section5 .textEN .group-two .iconText {
    width: 362px;
    left: -225px;
}

.section5 .textEN .group-three .iconText {
    width: 410px;
    left: -140px;
}

.section5 .textEN .group-four .iconText {
    width: 410px;
    right: -200px;
    top: 83%;
}

.section5 .textEN .group-five .iconText {
    width: 353px;
    right: -212px;
}

.section5 .textEN .group-six .iconText {
    width: 332px;
    right: -120px;
}

.section5 .section-body {
    width: 855px;
    margin: auto;
}

.section5 .f-content {
    margin: 40px 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.section5 .icontitle {
    font-size: 1.8rem;
    color: #000000;
    font-weight: bold;
    position: relative;
    line-height: 40px;
}

.section5 .textEN .icontitle{
    font-size: 1.6rem;
    line-height: 22px;
}

.section5 .iconline {
    width: 154px;
    height: 1px;
    background: #e3e3e3;
    position: absolute;
    right: 5px;
}

.section5 .iconcircle {
    position: absolute;
    right: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    bottom: -5px;
}

.section5 .iconline2 {
    width: 154px;
    height: 1px;
    background: #e3e3e3;
    position: absolute;
    left: 5px;
}

.section5 .iconcircle2 {
    position: absolute;
    left: 0;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    bottom: -5px;
}

.section5 .icongray {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #999999;
}
.section5 .textEN .icongray{
    line-height: 1.4rem;
}

.section5 .icongray:hover {
    color: #b90b2c;
}

.section5 .group-one .icon1 {
    position: absolute;
    top: 2%;
    left: 194px;
}

.section5 .group-one .iconText {
    position: absolute;
    cursor: pointer;
    width: 220px;
    top: -2%;
    left: -50px;
    line-height: 1.8rem;
    text-align: right;
}

.section5 .group-two .icon1 {
    position: absolute;
    top: 39%;
    left: 144px;
}

.section5 .group-two .iconText {
    position: absolute;
    width: 275px;
    top: 36%;
    left: -135px;
    line-height: 1.8rem;
    text-align: right;
}

.section5 .group-three .icon1 {
    position: absolute;
    top: 81%;
    left: 290px;
}

.section5 .group-three .iconText {
    position: absolute;
    width: 300px;
    top: 80%;
    left: -18px;
    line-height: 1.8rem;
    text-align: right;
}

.section5 .group-four .icon1 {
    position: absolute;
    top: 83%;
    right: 225px;
}

.section5 .group-four .iconText {
    position: absolute;
    width: 222px;
    top: 81%;
    right: -21px;
    line-height: 1.8rem;
    text-align: left;
}

.section5 .group-five .icon1 {
    position: absolute;
    top: 39%;
    right: 147px;
}

.section5 .group-five .iconText {
    position: absolute;
    width: 260px;
    top: 35%;
    right: -118px;
    line-height: 1.8rem;
    text-align: left;
}

.section5 .group-six .icon1 {
    position: absolute;
    top: 2%;
    right: 267px;
}

.section5 .group-six .iconText {
    position: absolute;
    width: 275px;
    top: -2%;
    right: -25px;
    line-height: 1.8rem;
    text-align: left;
}


.section6 {
    background: #f9f9f9;
}

.section6 {
    background: #f9f9f9;
}

.section6 .detailContent {
    color: #000000;
    font-size: 1.4rem;
    text-align: center;
    padding-top: 20px;
}

.section6 .tabBox {
    position: relative;
    margin: auto;
    padding: 20px 0;
    background: #f9f9f9;
}

.section6 .tabMenu {
    width: 540px;
    margin: 20px auto 20px;
    cursor: pointer;
}

.section6 .tabMenu div {
    position: absolute;
    font-size: 1.2rem;
}

.section6 .tabMenu div.textCN {
    left: 130px;
}

.section6 .tabMenu div.textEN {
    left: 130px;
}

.section6 .tabMenu img {
    margin-top: 4px;
    display: block;
    position: absolute;
    left: 100px;
    top: 1px;
}

.section6 .menuBox {
    width: 100%;
    margin: auto;
}

.section6 .tabMenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 30px;
    width: 100%;
}

.section6 .tabMenu li {
    position: relative;
    font-size: 16px;
    float: left;
    text-align: center;
    width: 50%;
    color: #999;
    border: 1px solid #b90b2c;
    box-sizing: border-box;
    line-height: 30px;
    height: 30px;
}

.section6 .tabMenu li span {
    background: url("../images/index/earthtabarr.png") no-repeat;
    width: 11px;
    height: 8px;
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -5px;
    display: none;
}

.section6 .tabMenu li:first-child {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.section6 .tabMenu li:last-child {
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.section6 .selectLi {
    color: #fff !important;
    background: #b90b2c !important;
    box-sizing: border-box;
}

.section6 .tabMenu li.selectLi span {
    display: block;
}

/*.section7 {*/
/*background: #FFFFFF; }*/
/*.section7 .swiper-pagination-bullet-active {*/
/*background: #b90b2c; }*/
/*.section7 .two-all {*/
/*width: 1100px;*/
/*margin: auto; }*/
/*.section7 .two-title {*/
/*padding-top: 40px;*/
/*text-align: center; }*/
/*.section7 .two-text {*/
/*font-size: 2.4rem;*/
/*color: #000000;*/
/*text-align: center;*/
/*padding-bottom: 40px;*/
/*font-weight: bold; padding-top:5px;}*/
/*.section7 .swiper-container {*/
/*width: 100%;*/
/*height: 200px; }*/
/*.section7 .swiper-slide {*/
/*text-align: center;*/
/*font-size: 18px; }*/
/*.about-usPage .section7{*/
/*background: #f7f7f7;*/
/*}*/

/*.slideBox {*/
/*width: 100%;*/
/*height: 100%;*/
/*overflow: hidden;*/
/*position: relative; }*/

/*.topImg {*/
/*position: fixed;*/
/*right: 7%;*/
/*bottom: 20%;*/
/*z-index: 9999999999999; }*/

/*.companyDynamic {*/
/*padding-bottom: 20px;*/
/*background: #f7f7f7; }*/
/*.companyDynamic .banner img {*/
/*display: block; }*/
/*.companyDynamic .allContent {*/
/*width: 60%;*/
/*margin: auto;*/
/*!*tab*! }*/
/*.companyDynamic .allContent .borderBox {*/
/*width: 100%;*/
/*border-bottom: 1px solid #e9dea8; }*/
/*.companyDynamic .allContent .tabBox {*/
/*width: 100%;*/
/*margin: auto auto 20px; }*/
/*.companyDynamic .allContent .tabMenu {*/
/*width: 160px;*/
/*margin: auto;*/
/*position: absolute;*/
/*left: -190px; }*/
/*.companyDynamic .allContent .menuBox {*/
/*width: calc(100% - 190px);*/
/*margin: auto auto auto 190px;*/
/*background: white;*/
/*margin-top: 20px;*/
/*padding: 0 40px;*/
/*position: relative;*/
/*box-sizing: border-box;*/
/*padding-bottom: 20px;*/
/*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1); }*/
/*.companyDynamic .allContent .menuBox .lineOne {*/
/*overflow: hidden; }*/
/*.companyDynamic .allContent .menuBox .left {*/
/*float: left;*/
/*width: 100px;*/
/*height: auto;*/
/*margin-top: 30px; }*/
/*.companyDynamic .allContent .menuBox .left .outBox {*/
/*height: 60px;*/
/*width: 60px;*/
/*border: 1px solid #e8e8e8;*/
/*border-top: 2px solid #b90b2c;*/
/*padding-top: 6px;*/
/*box-sizing: border-box;*/
/*text-align: center; }*/
/*.companyDynamic .allContent .menuBox .left .dayBox {*/
/*font-size: 23px;*/
/*color: #000000;*/
/*font-weight: bold; }*/
/*.companyDynamic .allContent .menuBox .left .monthDiv {*/
/*color: #999999;*/
/*font-size: 12px; }*/
/*.companyDynamic .allContent .menuBox .mid {*/
/*float: left;*/
/*width: calc(100% - 100px);*/
/*overflow: hidden;*/
/*text-align: justify;*/
/*border-bottom: 1px solid #dddddd; }*/
/*.companyDynamic .allContent .menuBox .mid .right {*/
/*float: right;*/
/*width: 120px;*/
/*height: 34px;*/
/*margin-bottom: 10px;*/
/*border: 1px solid #d2d2d2;*/
/*font-size: 14px;*/
/*box-sizing: border-box;*/
/*text-align: center;*/
/*border-radius: 34px;*/
/*line-height: 31px;*/
/*position: relative;*/
/*cursor: pointer; }*/
/*.companyDynamic .allContent .menuBox .mid .right a{*/
/*color: #2B2B2F;*/
/*display:block;*/
/*position:relative;*/
/*}*/
/*.companyDynamic .allContent .menuBox .mid .right a i{*/
/*border-radius: 50%;*/
/*width: 16px;*/
/*height: 16px;*/
/*background: #D40014;*/
/*color: #fff;*/
/*font-size: 1rem;*/
/*position: absolute;*/
/*left: 10px;*/
/*top: 8px;*/
/*line-height: 16px;*/

/*}*/
/*.companyDynamic .allContent .menuBox .mid .right:hover {*/
/*background:#ba0c2f;*/
/*border:1px solid #ba0c2f;*/
/*}*/
/*.companyDynamic .allContent .menuBox .mid .right:hover a{*/
/*color:#fff;*/
/*}*/
/*.companyDynamic .allContent .menuBox .mid .right:hover a i{*/
/*background:#fff;*/
/*color:#ba0c2f;*/
/*}*/
/*.companyDynamic .allContent .menuBox .mid .midTitle {*/
/*font-size: 1.8rem;*/
/*font-weight: bold;*/
/*color: #2b2b2f; }*/
/*.companyDynamic .allContent .menuBox .mid .midGray {*/
/*font-size: 1.2rem;*/
/*color: #a0a0a0;*/
/*margin: 16px auto;line-height: 20px; }*/
/*.companyDynamic .allContent .menuBox .mid .midGray img{*/
/*width:100%;*/
/*}*/
/*.companyDynamic .allContent .menuBox .mid .left {*/
/*float: left;*/
/*width: 100%; }*/
/*.companyDynamic .allContent .tabMenu ul {*/
/*padding: 0;*/
/*margin: 0;*/
/*list-style: none;*/
/*width: 100%; }*/
/*.companyDynamic .allContent .tabMenu li {*/
/*font-size: 16px;*/
/*text-align: left;*/
/*width: 160px;*/
/*height: 44px;*/
/*color: #000000;*/
/*line-height: 44px;*/
/*font-size: 1.6rem;*/
/*background: white;*/
/*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
/*margin-bottom: 10px;*/
/*cursor: pointer;*/
/*position: relative;*/
/*font-weight: bold;*/
/*padding-left: 20px;*/
/*box-sizing: border-box; }*/
/*.companyDynamic .allContent .tabMenu li .line {*/
/*position: absolute;*/
/*width: 85px;*/
/*height: 1px;*/
/*background: #c73c56;*/
/*top: 22px;*/
/*left: 120px; }*/
/*.companyDynamic .allContent .tabMenu li .circle {*/
/*height: 6px;*/
/*width: 6px;*/
/*border-radius: 8px;*/
/*border: 1px solid #c73c56;*/
/*position: absolute;*/
/*left: 204px;*/
/*top: 19px; }*/
/*.companyDynamic .allContent .selectLi {*/
/*background: white;*/
/*color: #b90b2c !important;*/
/*border-left: 2px solid #b90b2c; }*/

/*.aboutHonor {*/
/*background: #f7f7f7;*/
/*padding-bottom: 30px; }*/
/*.aboutHonor .banner img {*/
/*display: block; }*/
/*.aboutHonor .breadNav {*/
/*height: 52px;*/
/*box-sizing: border-box; }*/
/*.aboutHonor .breadNav ul {*/
/*width: 60%;*/
/*margin: auto; }*/
/*.aboutHonor .breadNav li {*/
/*float: left;*/
/*font-size: 1.4rem;*/
/*line-height: 52px;*/
/*color: #666666;*/
/*cursor: pointer; }*/
/*.aboutHonor .breadNav li img {*/
/*margin-right: 10px; }*/
/*.aboutHonor .breadNav li a{*/
/*color:#666;*/
/*}*/
/*.aboutHonor .breadNav li:nth-of-type(2) a{*/
/*cursor: pointer;*/
/*}*/
/*.aboutHonor .breadNav .currentColor a{*/
/*color:#000;*/
/*}*/
/*.aboutHonor .timeLine {*/
/*background: #ffffff;*/
/*height: 42px;*/
/*margin-bottom: 10px;*/
/*width: 100%;*/
/*box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.1);*/
/*position: relative; }*/
/*.aboutHonor .timeBox {*/
/*position: relative; }*/
/*.aboutHonor .currentBox {*/
/*width: 60%;*/
/*margin: auto;*/
/*overflow: hidden; position:relative;}*/
/*.aboutHonor .currentBox .hide {*/
/*display: none; }*/
/*.aboutHonor .currentBox .swiper-button-next {*/
/*background: url("../images/aboutHonor/arrowR.png") no-repeat center; }*/
/*.aboutHonor .currentBox .swiper-button-prev {*/
/*background: url("../images/aboutHonor/arrow.png") no-repeat center;*/
/*cursor:pointer; }*/
/*.aboutHonor .currentBox .swiper-container {*/
/*width: 100%;*/
/*height: 300px;*/
/*margin-left: auto;*/
/*margin-right: auto; }*/
/*.aboutHonor .currentBox .swiper-slide {*/
/*background-size: cover;*/
/*background-position: center; }*/
/*.aboutHonor .currentBox .gallery-top {*/
/*height: 80%;*/
/*width: 100%;*/
/*padding-top: 23px;*/
/*color: transparent; }*/
/*.aboutHonor .currentBox .gallery-thumbs {*/
/*height: 42px;*/
/*line-height:42px;*/
/*box-sizing: border-box;*/
/*padding: 0 15px;*/
/*width: 100%; }*/
/*.aboutHonor .swiper-button-prev{*/
/*left: -8px;*/
/*}*/
/*.aboutHonor .swiper-button-next{*/
/*right: -8px;*/
/*}*/
/*.aboutHonor .currentBox .gallery-thumbs .swiper-slide {*/
/*width: 11%;*/
/*height: 100%;*/
/*opacity: 1;*/
/*font-size: 1.4rem;*/
/*text-align: center;*/
/*color: #666666; }*/
/*.aboutHonor .currentBox .gallery-thumbs .swiper-slide-active {*/
/*opacity: 1;*/
/*color: #b90b2c;*/
/*font-size: 2.4rem; }*/
/*.aboutHonor .listDiv {*/
/*width: 60%;*/
/*margin: auto; display:none;}*/
/*.gallery-thumbs .swiper-slide{*/
/*pointer-events: none;*/
/*}*/
/*.aboutHonor .listDiv .listone {*/
/*width: 100%;*/
/*overflow: hidden;*/
/*margin-bottom: 10px; }*/
/*.aboutHonor .listDiv .listone .listL {*/
/*float: left;*/
/*width: 120px; }*/
/*.aboutHonor .listDiv .listone .listL .dateBox {*/
/*height: 60px;*/
/*width: 60px;*/
/*margin: 40px auto auto;*/
/*border-top: #BD1838 2px solid;*/
/*box-sizing: border-box;*/
/*text-align: center;*/
/*background: white;*/
/*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);*/
/*position: relative; }*/
/*.aboutHonor .listDiv .listone .listL .dateBox .line {*/
/*background: #dddddd;*/
/*height: 60px;*/
/*width: 1px;*/
/*position: absolute;*/
/*top: 76px;*/
/*left: 29px; }*/
/*.aboutHonor .listDiv .listone .listL .DayBox {*/
/*font-size: 24px;*/
/*color: #000000;*/
/*font-weight: bold; }*/
/*.aboutHonor .listDiv .listone .listL .monthDiv {*/
/*font-size: 12px;*/
/*color: #999999; }*/
/*.aboutHonor .listDiv .listone .listR {*/
/*float: left;*/
/*width: 84%;*/
/*background: white;*/
/*padding: 10px;*/
/*box-sizing: border-box;*/
/*box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1); }*/
/*.aboutHonor .listDiv .listone .listR .rightAll {*/
/*width: 100%;*/
/*overflow: hidden; }*/
/*.aboutHonor .listDiv .listone .listR .allLeft {*/
/*float: left;*/
/*width: 220px; }*/
/*.aboutHonor .listDiv .listone .listR .allLeft img{*/
/*width:100%;*/
/*max-height:125px;*/
/*}*/
/*.aboutHonor .listDiv .listone .listR .allRight {*/
/*float: left;*/
/*width: 64%;*/
/*padding-left: 30px;*/
/*box-sizing: border-box; }*/
/*.aboutHonor .listDiv .listone .listR .allRight .titleBox {*/
/*font-size: 1.8rem;*/
/*font-weight: bold; }*/
/*.aboutHonor .listDiv .listone .listR .allRight .line {*/
/*width: 45px;*/
/*background: #dddddd;*/
/*height: 2px;*/
/*margin: 10px 10px 10px 0; }*/
/*.aboutHonor .listDiv .listone .listR .allRight .detailText {*/
/*color: #999999;*/
/*font-size: 1.2rem;*/
/*text-align: justify;*/
/*line-height: 2.4rem; }*/


/*.about-usPage .nav-ul {*/
/*margin: 0;*/
/*padding: 0;*/
/*position: fixed;*/
/*left: 8%;*/
/*top: 64%;*/
/*width: 12px;*/
/*margin-top: -66px;*/
/*z-index: 66666; }*/
/*.about-usPage .nav-ul li {*/
/*padding: 0;*/
/*margin: 0;*/
/*list-style: none;*/
/*margin: 10px 0;*/
/*position: relative; }*/
/*.about-usPage .nav-ul li p{*/
/*left: 20px;*/
/*right:auto;*/
/*}*/
/*.about-usPage .nav-ul a {*/
/*display: block;*/
/*width: 10px;*/
/*height: 10px;*/
/*border-radius: 50%;*/
/*border: 1px solid #ba0c2f;*/
/*background: transparent;*/
/*margin: 5px 0;*/
/*cursor: pointer; }*/
/*.about-usPage .textA {*/
/*position: absolute;*/
/*left: 27px;*/
/*top: 0;*/
/*width: 100px;*/
/*color: #666666;*/
/*font-size: 1.4rem; }*/
/*.about-usPage .active {*/
/*background: #b90b2c !important; }*/
/*.about-usPage .section1 {*/
/*height: auto; }*/
/*.about-usPage .banner img {*/
/*border: none;*/
/*display: block; }*/
/*.about-usPage .panel1 {*/
/*width: 60%;*/
/*margin: auto;*/
/*text-align: center; }*/
/*.about-usPage .panel1 .panel-detial {*/
/*font-size: 1.6rem;*/
/*color: #000000;*/
/*margin: 25px auto;*/
/*box-sizing: border-box; }*/
/*.about-usPage .panel1 .grayText {*/
/*color: #666666;*/
/*font-size: 1.4rem;*/
/*line-height: 1.4rem;*/
/*text-align: justify;*/
/*margin-bottom: 20px; }*/
/*.about-usPage .panel1 .img-group {*/
/*margin-top: 20px;}*/
/*.about-usPage .panel1 .img-group img {*/
/*display: block;*/
/*margin: auto; }*/
/*.about-usPage .panel1 p{*/
/*text-align: left;*/
/*}*/
/*.about-usPage .panel-img {*/
/*margin: auto;*/
/*display: block;*/
/*padding-top: 40px; }*/
/*.about-usPage .panel-tite {*/
/*font-size: 2.4rem;*/
/*color: #212121;*/
/*font-weight: bold; padding-top:5px;}*/
/*.about-usPage .section4 {*/
/*text-align: center;*/
/*background: url("../images/about-usAll/panel3bg.jpg") no-repeat 100% 100%; }*/
/*.about-usPage .section4 .panel-tite {*/
/*color: #FFFFFF;*/
/*letter-spacing: 1px; padding-top: 5px;}*/
/*.about-usPage .section4 {*/
/*height: 460px;*/
/*position: relative;*/
/*padding-bottom: 0; }*/
/*.about-usPage .section4 .bototmbg {*/
/*position: absolute;*/
/*bottom: 0;*/
/*background: #242324;*/
/*height: 157px;*/
/*width: 100%; }*/
/*.about-usPage .section4 .group-all {*/
/*width: 1100px;*/
/*overflow: hidden;*/
/*position: absolute;*/
/*left: calc((100% - 1100px) / 2);*/
/*bottom: 0;*/
/*height: 300px; }*/
/*.about-usPage .section4 .group-all .group-one {*/
/*float: left;*/
/*width: 324px;*/
/*height: 100%;*/
/*background: url("../images/about-usAll/bg.png") 100% 100% no-repeat;*/
/*background-position: left center;*/
/*background-size: 100% 100%;*/
/*position: absolute; }*/
/*.about-usPage .section4 .group-all .group-one .top {*/
/*padding-top: 10%;*/
/*cursor: pointer;*/
/*background-position: left center;*/
/*background-size: 100% 100%; }*/
/*.about-usPage .section4 .group-all .group-one .top img {*/
/*width:100%;*/
/*display: block;*/
/*border: none;*/
/*}*/
/*.top .topText{*/
/*width:160px;*/
/*position:relative;*/
/*margin: auto auto auto 93px;*/
/*}*/
/*.topText p.textCN{*/
/*position:absolute;*/
/*bottom: 10px;*/
/*right: 10px;*/
/*font-size: 1.8rem;*/
/*}*/
/*.topText p.textEN{*/
/*position:absolute;*/
/*bottom: 10px;*/
/*right: -26px;*/
/*font-size: 1.4rem;*/
/*}*/
/*.about-usPage .section4 .group-all .group-one .bottom {*/
/*padding: 5% 0;*/
/*box-sizing: border-box;*/
/*position: relative;*/
/*background-position-x: -43px;*/
/*height: 160px;*/
/*cursor: pointer;*/
/*width: 56%;*/
/*margin-left: 16%; }*/
/*.about-usPage .section4 .group-all .group-one .bottom .bottom-text {*/
/*color: white;*/
/*padding: 10px;*/
/*box-sizing: border-box;*/
/*font-size: 1.6rem;*/
/*line-height: 2rem;*/
/*height:95px;*/
/*text-align:center;*/
/*padding-top: 25px;}*/
/*.about-usPage .section4 .group-all .group-one .bottom .bottom-textEN {*/
/*padding: 0 5px;*/
/*text-align: left;*/
/*font-size: 1.4rem;*/
/*line-height: normal;}*/
/*.about-usPage .section4 .group-all .group-one .bottom .bottom-arrow {*/
/*margin-left: 33%; }*/
/*.about-usPage .section4 .group-all .group-one .group-hide2 {*/
/*color: white;*/
/*bottom: 0;*/
/*right: 11%;*/
/*width: 140%;*/
/*background: url("../images/about-usAll/bg2.png") no-repeat 100% 100%;*/
/*height: 157px;*/
/*padding: 6% 6% 5% 16%;*/
/*box-sizing: border-box;*/
/*z-index: 999;*/
/*line-height: 26px;*/
/*font-size: 1.2rem;*/
/*position: absolute;*/
/*background-position: left center; }*/
/*.about-usPage .section4 .group-all .group-one .group-hideCN{*/
/*padding:6% 9% 5% 25%;*/
/*}*/
/*.about-usPage .section4 .group-all .one1 {*/
/*left: 0; }*/
/*.about-usPage .section4 .group-all .one2 {*/
/*left: 250px; }*/
/*.about-usPage .section4 .group-all .one3 {*/
/*left: 500px; }*/
/*.about-usPage .section4 .group-all .one4 {*/
/*left: 750px; }*/
/*.about-usPage .panel4 {*/
/*width: 60%;*/
/*margin: auto;*/
/*text-align: center; }*/
/*.about-usPage .pane3 .panel-all {*/
/*width: 60%;*/
/*margin: 0 auto auto; }*/
/*.about-usPage .section3 {*/
/*text-align: center;*/
/*background: #f7f7f7;*/
/*padding-bottom: 60px; }*/
/*.about-usPage .section3 .panel-img {*/
/*padding-top: 40px; }*/
/*.about-usPage .section2 .panel-tite{*/
/*margin-bottom: 40px;padding-top: 5px;}*/
/*.about-usPage .section3 .panel-tite {*/
/*margin-bottom: 40px; }*/
/*.about-usPage .section3 .swiper-all {*/
/*width: 886px;*/
/*margin: auto; position: relative;}*/
/*.about-usPage .section3 .swiper-slide {*/
/*background: transparent; }*/
/*.about-usPage .section3 .swiper2 .swiper-slide {*/
/*cursor: default;*/
/*}*/
/*.about-usPage .section3 .swiper3 {*/
/*width: 200px;*/
/*height: 116px;*/
/*margin-left: 63px;*/
/*margin-bottom: -4px; }*/
/*.about-usPage .section3 .swiper-btn .swiper-button-prev {*/
/*background: url("../images/about-usAll/swiperL.png") no-repeat center;*/
/*left: 10px;*/
/*right: auto; }*/
/*.about-usPage .section3 .swiper-btn .swiper-button-next {*/
/*background: url("../images/about-usAll/swiperR.png") no-repeat center;*/
/*right: 10px;*/
/*left: auto; }*/
/*.about-usPage .section3 .swiper-bottom .swiper-button-prev {*/
/*background: url("../images/about-usAll/swipert.png") no-repeat center;*/
/*left: 852px;*/
/*right: auto;*/
/*transform: rotate(0deg);*/
/*width: 34px;*/
/*height: 34px;*/
/*top: 40.5%; }*/
/*.about-usPage .section3 .swiper-bottom .swiper-button-next {*/
/*background: url("../images/about-usAll/swiperb.png") no-repeat center;*/
/*right: 0;*/
/*left: auto;*/
/*transform: rotate(0deg);*/
/*width: 34px;*/
/*height: 34px; }*/
/*.about-usPage .section3 .swiper-bottom .swiper-line {*/
/*overflow: hidden; height:100%; }*/
/*.about-usPage .section3 .swiper-bottom .swiper-left {*/
/*float: left;*/
/*width: 160px;     margin-top: 11px;}*/
/*.about-usPage .section3 .swiper-bottom .swiper-left .swiper-red {*/
/*float: left;*/
/*font-size: 13px;*/
/*color: #b90b2c;*/
/*margin-top: 13px;*/
/*margin-right: 6px; }*/
/*.about-usPage .section3 .swiper-bottom .swiper-left .swiper-gray {*/
/*float: left;*/
/*color: #666666;*/
/*font-size: 20px;*/
/*color: #666666;*/
/*line-height: 40px; }*/
/*.about-usPage .section3 .swiper-bottom .swiper-right {*/
/*float: left;*/
/*width: 78%;*/
/*height:100%;*/
/*text-align: left;*/
/*padding: 0 30px;*/
/*box-sizing: border-box;*/
/*position: relative;*/
/*border-left: #dddddd 6px solid; }*/
/*.about-usPage .section3 .swiper-bottom .swiper-right .swiper-title {*/
/*color: #2b2b2f;*/
/*font-size: 16px;*/
/*font-weight: 600;*/
/*margin-bottom: 10px; border-bottom: 1px solid #ddd; padding-bottom: 5px;padding-top:5px;}*/
/*.about-usPage .section3 .swiper-bottom .swiper-right .swiper-details {*/
/*color: #666666;*/
/*font-size: 12px; }*/
/*.about-usPage .section3 .swiper-bottom .swiper-circle {*/
/*height: 20px;*/
/*width: 20px;*/
/*border-radius: 20px;*/
/*background: white;*/
/*border: 1px solid #bc1736;*/
/*position: absolute;*/
/*top: 20px;*/
/*left: -15px; }*/
/*.about-usPage .section3 .swiper-bottom .swiper-border {*/
/*position: absolute;*/
/*height: 1px;*/
/*width: 26px;*/
/*background: #dddddd;*/
/*top: 31px;*/
/*left: -45px; }*/
/*.about-usPage .section3 .swiper-year {*/
/*height: 100px;*/
/*width: 100px;*/
/*border-radius: 100px;*/
/*border: #dddddd 6px solid;*/
/*margin: auto; }*/
/*.about-usPage .section3 .swiper-year .num-text {*/
/*font-size: 24px;*/
/*color: #c73c56;*/
/*line-height: 44px;*/
/*margin-top: 16px; }*/
/*.about-usPage .section3 .swiper-year .year-text {*/
/*color: #999999;*/
/*font-size: 14px; }*/
/*.about-usPage .section6 {*/
/*height: 920px;*/
/*background: url("../images/about-usAll/bgl.jpg") no-repeat 100% 100%;*/
/*background-position: center; }*/
/*.about-usPage .section6 .two-text {*/
/*color: white; padding-top:5px;}*/
/*.about-usPage .section6 .swiper-container {*/
/*padding-top: 10px;*/
/*padding-left: 9px;*/
/*height: 700px;*/
/*box-sizing: border-box; }*/
/*.about-usPage .section6 .textYear {*/
/*font-size: 30px;*/
/*height: 10%;*/
/*color: rgba(255, 255, 255, 0.5);*/
/*border-top: 1px solid rgba(255, 255, 255, 0.5);*/
/*position: absolute;*/
/*width: 100%;*/
/*bottom: 0;*/
/*}*/
/*.about-usPage .section6 .swiper-all {*/
/*width: 100%;*/
/*max-height: 90%;*/
/*padding: 6px;*/
/*box-sizing: border-box;*/
/*border-left: 1px rgba(255, 255, 255, 0.4) solid;*/
/*position: absolute; bottom: calc(10% + 1px);}*/
/*.about-usPage .section6 .swiper-small {*/
/*overflow-y: auto;*/
/*padding: 4px; max-height: calc(585px - 84px);}*/
/*.about-usPage .section6 .check-button {*/
/*color:#fff;*/
/*display:block;*/
/*position:relative;*/
/*height: 34px;*/
/*width: 130px;*/
/*border-radius: 34px;*/
/*box-sizing: border-box;*/
/*border: 1px solid rgba(255, 255, 255, 0.6);*/
/*margin: auto;*/
/*line-height: 32px;}*/
/*.about-usPage .section6 .check-button i{*/
/*border-radius: 50%;*/
/*width: 16px;*/
/*height: 16px;*/
/*background: #D40014;*/
/*color: #fff;*/
/*font-size: 1rem;*/
/*position: absolute;*/
/*left: 10px;*/
/*top:9px;*/
/*line-height:16px;*/
/*}*/
/*.about-usPage .section6 .check-button:hover{*/
/*display: block;*/
/*background: #D60027;*/
/*border: 1px solid #D60027;*/
/*color: #fff;*/
/*}*/
/*.about-usPage .section6 .check-button:hover i{*/
/*background:#fff;*/
/*color:#D60027;*/
/*}*/
/*.about-usPage .section6 .swiper-check {*/
/*height: 10%;*/
/*text-align: center;*/
/*color: rgba(255, 255, 255, 0.6);*/
/*padding-top: 20px;*/
/*padding-bottom: 10px;*/
/*cursor: pointer; }*/
/*.about-usPage .section6 .swiper-c {*/
/*position: absolute;*/
/*height: 6px;*/
/*width: 6px;*/
/*border: 1px rgba(255, 255, 255, 0.4) solid;*/
/*border-radius: 100%;*/
/*top: -8px;*/
/*left: -4px; }*/
/*.about-usPage .section6 .line-title {*/
/*font-size: 14px;*/
/*color: #c73d3b;*/
/*line-height: 28px; }*/
/*.about-usPage .section6 .line-details {*/
/*font-size: 12px;*/
/*line-height: 24px;*/
/*color: rgba(255, 255, 255, 0.85); }*/
/*.about-usPage .section6 .topText {*/
/*margin-bottom: 30px; }*/
/*.about-usPage .section6 .swiper-button-next {*/
/*background: url("../images/about-usAll/arrow.png") no-repeat;*/
/*right: -35px;*/
/*left: auto; }*/
/*.about-usPage .section6 .swiper-button-prev {*/
/*background: url("../images/about-usAll/arrow.png") no-repeat;*/
/*left: 10px;*/
/*right: auto;*/
/*transform: rotate(180deg); }*/
/*.about-usPage .section6 .swiper-button-next,*/
/*.about-usPage .section6 .swiper-button-prev {*/
/*position: absolute;*/
/*top: 50%;*/
/*width: 36px;*/
/*height: 44px;*/
/*margin-top: -22px;*/
/*z-index: 10;*/
/*cursor: pointer;*/
/*background-position: center;*/
/*background-repeat: no-repeat; }*/
/*!*# sourceMappingURL=index.css.map *!*/
/*.js-silder{*/
/*width: 100%;*/
/*position: relative;*/
/*}*/
/*.silder-scroll{*/
/*width: 100%;*/
/*overflow: hidden;*/
/*}*/
/*.silder-main{*/
/*width: 220px;*/
/*position: relative;*/
/*}*/
/*.silder-main-img{*/
/*float:left;*/
/*top: 0;*/
/*left: 0;*/
/*width:100%;*/
/*height:100%;*/
/*box-sizing:border-box;*/
/*padding:0 10px;*/
/*}*/
/*.silder-main-img a{*/
/*display:block;*/
/*height:96px;*/
/*line-height:96px;*/
/*text-align: center;*/
/*}*/
/*.silder-main-img img{*/
/*max-width:90%;*/
/*vertical-align:middle;*/
/*border:none;*/
/*}*/
/*.silder-main-img img:nth-of-type(5n+1){*/
/*margin-left:0;*/
/*}*/
/*.silder-main-img img:nth-of-type(6),.silder-main-img img:nth-of-type(7),*/
/*.silder-main-img img:nth-of-type(8),.silder-main-img img:nth-of-type(9),.silder-main-img img:nth-of-type(10){*/
/*margin-top: 10px;*/
/*}*/
/*.js-silder-ctrl{*/
/*margin: 10px 0;*/
/*text-align: center;*/
/*}*/
/*.js-silder-ctrl i{*/
/*font-size: 2.4rem;*/
/*color:#AEAEAE;*/
/*}*/
/*.silder-ctrl-prev,*/
/*.silder-ctrl-next{*/
/*position: absolute;*/
/*top: 50%;*/
/*margin-top: -28px;*/
/*width: 30px;*/
/*height: 40px;*/
/*cursor: pointer;*/
/*line-height: 40px;*/
/*}*/
/*.silder-ctrl-prev{*/
/*left: -30px;*/
/*}*/
/*.silder-ctrl-next{*/
/*right:-30px;*/
/*}*/
/*.silder-ctrl-con{*/
/*display: inline-block;*/
/*width: 10px;*/
/*height: 10px;*/
/*margin: 0 5px;*/
/*border-radius: 50%;*/
/*cursor: pointer;*/
/*text-indent: -100px;*/
/*overflow: hidden;*/
/*background: #D2CEC9;*/
/*}*/
/*.current{*/
/*background: #f00;*/
/*}*/

/*.swiper-btn{*/
/*width: 200px;*/
/*height: 116px;*/
/*margin-left: 63px;*/
/*margin-bottom: -4px;*/
/*position:absolute;*/
/*}*/
/*.swiper-bottom .swiper2{*/
/*display: none;*/
/*}*/

/*.swiper-bottom .swiper2:first-child{*/
/*display: block;*/
/*}*/

#main2 {
    position: relative;
    width: 100%;
}

.menu {
    left: 0;
    top: 0;
    z-index: 999;
    float: left;
    padding-top: 23px;
}

.menu-item {
    font-size: 1.2rem;
}

.menuTitle {
    text-decoration: none;
    color: #0d0d0d;
    display: block;
    border-top: 1px solid #000;
    padding: 8px 14px;
    cursor: pointer;
}

.menuTitle i {
    float: right;
    font-size: 1.4rem;
}

.menuTitle.active1 {
    background: #D20814 !important;
    color: #fff;
}

.menuTitle:hover{
    background: #D20814 !important;
    color: #fff;
}

.menuCon {
    padding: 14px 0 14px 14px;
    overflow: hidden;
    display: none;
}

.menuCon ol.content {
    /* max-height: 200px;
    overflow-y: auto; */
}

.menuCon ol li {
    float: left;
    margin-bottom: 5px;
}

.rotate {
    transform-origin: center center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    -ms-transition: -ms-transform 0.2s;
}

.rotate1 {
    transform-origin: center center;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    -ms-transition: -ms-transform 0.2s;
}

/*#roll dd{*/
/*width: 200px;*/
/*float: left;*/
/*margin:0 10px;*/
/*}*/
/*#roll dd a{*/
/*display: list-item;*/
/*width: 200px;*/
/*height:100px;*/
/*line-height: 100px;*/
/*text-align: center;*/
/*margin:10px 0;*/
/*}*/
/*#roll dd a img{*/
/*max-width: 80%;*/
/*vertical-align: middle;*/
/*border: none;*/
/*max-height:100px;*/
/*}*/
/*.videoImg{*/
/*position:absolute;*/
/*z-index:999;*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
/*.videoImg i{*/
/*position: absolute;*/
/*z-index: 9999;*/
/*font-size: 50px;*/
/*top: 50%;*/
/*left: 50%;*/
/*margin-left: -25px;*/
/*margin-top: -25px;*/
/*cursor: pointer;*/
/*color:#fff;*/
/*}*/
/*.videoImg i:hover{*/
/*color:#ba0c2f;*/
/*}*/
/*#main-seven .box{*/
/*padding-bottom:20px;*/
/*position:relative;*/
/*}*/
/*#main-seven .box span{*/
/*position: absolute;*/
/*top: 100px;*/
/*}*/
/*#main-seven .box span i{*/
/*font-size:30px;*/
/*}*/
/*#main-seven .box span i:hover{*/
/*color:#ba0c2f;*/
/*cursor:pointer;*/
/*font-weight:bold;*/
/*}*/
/*#main-seven .box span.prev{*/
/*left: -36px;*/
/*}*/
/*#main-seven .box span.next{*/
/*right: -36px;*/
/*}*/