<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.mybatis.mapper.ext.ExtWebsiteHonorMapper" >
   <resultMap id="BaseResultMap" type="com.website.mybatis.bean.auto.WebsiteHonor" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="img_address_eng" property="imgAddressEng" jdbcType="VARCHAR" />
    <result column="img_address" property="imgAddress" jdbcType="VARCHAR" />
    <result column="honor_number_eng" property="honorNumberEng" jdbcType="VARCHAR" />
    <result column="honor_number" property="honorNumber" jdbcType="VARCHAR" />
    <result column="honor_name_eng" property="honorNameEng" jdbcType="VARCHAR" />
    <result column="honor_name" property="honorName" jdbcType="VARCHAR" />
    <result column="honor_state_eng" property="honorStateEng" jdbcType="VARCHAR" />
    <result column="honor_state" property="honorState" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
    <result column="honor_details_eng" property="honorDetailsEng" jdbcType="VARCHAR" />
    <result column="honor_details" property="honorDetails" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="VARCHAR" />
    <result column="has_eng" property="hasEng" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectUsList" resultMap="BaseResultMap" parameterType="com.website.mybatis.bean.auto.WebsiteHonor">
  	select * from (select b.id,b.img_address,FROM_UNIXTIME(b.honor_number,'%Y-%m-%d') honor_number,b.honor_name,b.honor_state,FROM_UNIXTIME(b.create_time,'%Y-%m-%d') create_time,FROM_UNIXTIME(b.update_time,'%Y-%m-%d') update_time,b.update_user_name,b.has_eng
      from website_honor b
      where b.delete_flag = '0'
      <if test="honorNumber != null and honorNumber != ''">
          and b.honor_number = UNIX_TIMESTAMP(#{honorNumber})
      </if>
      <if test="hasEng != null and hasEng != ''">
          and b.has_eng = #{hasEng, jdbcType=VARCHAR}
      </if>) a
      
          order by honor_number DESC
     
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.website.mybatis.bean.auto.WebsiteHonor">
  		select b.id,b.img_address,b.img_address_eng,FROM_UNIXTIME(b.honor_number,'%Y-%m-%d') honor_number,FROM_UNIXTIME(b.honor_number_eng,'%Y-%m-%d') honor_number_eng,b.honor_name,b.honor_name_eng,b.honor_state,b.honor_state_eng,b.honor_details,b.honor_details_eng,FROM_UNIXTIME(b.create_time,'%Y-%m-%d') create_time,FROM_UNIXTIME(b.update_time,'%Y-%m-%d') update_time,b.update_user_id,b.update_user_name
		from website_honor b
		where b.id = #{id,jdbcType=VARCHAR}
		
  </select>
   <insert id="insert" parameterType="com.website.mybatis.bean.auto.WebsiteHonor" >
     insert into website_honor (id, img_address_eng, img_address, 
      honor_number_eng, honor_number, honor_name_eng, 
      honor_name, honor_state_eng, honor_state, 
      create_time, update_time, update_user_id, 
      update_user_name, honor_details_eng, honor_details, 
      delete_flag, has_eng)
    values (#{id,jdbcType=VARCHAR}, #{imgAddressEng,jdbcType=VARCHAR}, #{imgAddress,jdbcType=VARCHAR}, 
      #{honorNumberEng,jdbcType=VARCHAR}, UNIX_TIMESTAMP(#{honorNumber,jdbcType=VARCHAR}), #{honorNameEng,jdbcType=VARCHAR}, 
      #{honorName,jdbcType=VARCHAR}, #{honorStateEng,jdbcType=VARCHAR}, #{honorState,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{updateUserId,jdbcType=VARCHAR}, 
      #{updateUserName,jdbcType=VARCHAR}, #{honorDetailsEng,jdbcType=VARCHAR}, #{honorDetails,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=VARCHAR}, #{hasEng,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.website.mybatis.bean.auto.WebsiteHonor" >
    update website_honor
    set 
      img_address = #{imgAddress,jdbcType=VARCHAR},
      honor_number = UNIX_TIMESTAMP(#{honorNumber,jdbcType=VARCHAR}),
      honor_name = #{honorName,jdbcType=VARCHAR},
      honor_state = #{honorState,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      honor_details = #{honorDetails,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateEng" parameterType="com.website.mybatis.bean.auto.WebsiteHonor" >
    update website_honor
    set img_address_eng = #{imgAddressEng,jdbcType=VARCHAR},
      honor_number_eng = UNIX_TIMESTAMP(#{honorNumberEng,jdbcType=VARCHAR}),
      honor_name_eng = #{honorNameEng,jdbcType=VARCHAR},
      honor_state_eng = #{honorStateEng,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=VARCHAR},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      honor_details_eng = #{honorDetailsEng,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      has_eng = #{hasEng,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>