<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.mybatis.mapper.ext.ExtWebsiteDonationInstanceMapper" >
  <resultMap id="BaseResultMap" type="com.website.mybatis.bean.ext.ExtWebsiteDonationInstanceModel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cnId" property="cnid" jdbcType="VARCHAR" />
    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
    <result column="donation_time" property="donationTime" jdbcType="VARCHAR" />
    <result column="cn_en_flag" property="cnEnFlag" jdbcType="CHAR" />
    <result column="has_en_flag" property="hasEnFlag" jdbcType="CHAR" />
    <result column="cover_page_url" property="coverPageUrl" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, cnId, news_title, donation_time, cn_en_flag, has_en_flag, cover_page_url, del_flag, 
    create_user, create_time, update_user, update_time,content
  </sql>
  <select id="findDonationInstanceList" resultMap="BaseResultMap" parameterType="com.website.mybatis.bean.ext.ExtWebsiteDonationInstanceModel" >
    select
    <include refid="Base_Column_List" />
    from website_donation_instance di
    where di.del_flag = '0'
    <if test="cnEnFlag != null and cnEnFlag != ''">
      and di.cn_en_flag = #{cnEnFlag}
    </if>
    <if test="newsTitle != null and newsTitle != ''">
      and di.news_title LIKE CONCAT('%',#{newsTitle, jdbcType=VARCHAR},'%')
    </if>
    <if test="donationTime != null and donationTime != ''">
      and di.donation_time LIKE CONCAT('%',#{donationTime, jdbcType=VARCHAR},'%')
    </if>
    <if test="hasEnFlag != null and hasEnFlag != ''">
      and di.has_en_flag = #{hasEnFlag}
    </if>
    <if test="isTop != null and isTop != ''">
      and di.is_top = #{isTop}
    </if>
    GROUP BY
    di.id
      order by di.donation_time DESC
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>

</mapper>