<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.mybatis.mapper.auto.WebsiteCultureMapper" >
  <resultMap id="BaseResultMap" type="com.website.mybatis.bean.auto.WebsiteCulture" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cnId" property="cnid" jdbcType="VARCHAR" />
    <result column="cn_en_flag" property="cnEnFlag" jdbcType="CHAR" />
    <result column="has_en_flag" property="hasEnFlag" jdbcType="CHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="parent_img_id" property="parentImgId" jdbcType="VARCHAR" />
    <result column="img_type" property="imgType" jdbcType="CHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.website.mybatis.bean.auto.WebsiteCulture" extends="BaseResultMap" >
    <result column="img_desc" property="imgDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cnId, cn_en_flag, has_en_flag, img_url, parent_img_id, img_type, del_flag, create_time, 
    create_user, update_time, update_user
  </sql>
  <sql id="Blob_Column_List" >
    img_desc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.website.mybatis.bean.auto.WebsiteCultureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from website_culture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.website.mybatis.bean.auto.WebsiteCultureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from website_culture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from website_culture
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from website_culture
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.website.mybatis.bean.auto.WebsiteCultureExample" >
    delete from website_culture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.website.mybatis.bean.auto.WebsiteCulture" >
    insert into website_culture (id, cnId, cn_en_flag, 
      has_en_flag, img_url, parent_img_id, 
      img_type, del_flag, create_time, 
      create_user, update_time, update_user, 
      img_desc)
    values (#{id,jdbcType=VARCHAR}, #{cnid,jdbcType=VARCHAR}, #{cnEnFlag,jdbcType=CHAR}, 
      #{hasEnFlag,jdbcType=CHAR}, #{imgUrl,jdbcType=VARCHAR}, #{parentImgId,jdbcType=VARCHAR}, 
      #{imgType,jdbcType=CHAR}, #{delFlag,jdbcType=CHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{imgDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.website.mybatis.bean.auto.WebsiteCulture" >
    insert into website_culture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cnid != null" >
        cnId,
      </if>
      <if test="cnEnFlag != null" >
        cn_en_flag,
      </if>
      <if test="hasEnFlag != null" >
        has_en_flag,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="parentImgId != null" >
        parent_img_id,
      </if>
      <if test="imgType != null" >
        img_type,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="imgDesc != null" >
        img_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cnid != null" >
        #{cnid,jdbcType=VARCHAR},
      </if>
      <if test="cnEnFlag != null" >
        #{cnEnFlag,jdbcType=CHAR},
      </if>
      <if test="hasEnFlag != null" >
        #{hasEnFlag,jdbcType=CHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentImgId != null" >
        #{parentImgId,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null" >
        #{imgType,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="imgDesc != null" >
        #{imgDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.website.mybatis.bean.auto.WebsiteCultureExample" resultType="java.lang.Integer" >
    select count(*) from website_culture
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update website_culture
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.cnid != null" >
        cnId = #{record.cnid,jdbcType=VARCHAR},
      </if>
      <if test="record.cnEnFlag != null" >
        cn_en_flag = #{record.cnEnFlag,jdbcType=CHAR},
      </if>
      <if test="record.hasEnFlag != null" >
        has_en_flag = #{record.hasEnFlag,jdbcType=CHAR},
      </if>
      <if test="record.imgUrl != null" >
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.parentImgId != null" >
        parent_img_id = #{record.parentImgId,jdbcType=VARCHAR},
      </if>
      <if test="record.imgType != null" >
        img_type = #{record.imgType,jdbcType=CHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.imgDesc != null" >
        img_desc = #{record.imgDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update website_culture
    set id = #{record.id,jdbcType=VARCHAR},
      cnId = #{record.cnid,jdbcType=VARCHAR},
      cn_en_flag = #{record.cnEnFlag,jdbcType=CHAR},
      has_en_flag = #{record.hasEnFlag,jdbcType=CHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      parent_img_id = #{record.parentImgId,jdbcType=VARCHAR},
      img_type = #{record.imgType,jdbcType=CHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      img_desc = #{record.imgDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update website_culture
    set id = #{record.id,jdbcType=VARCHAR},
      cnId = #{record.cnid,jdbcType=VARCHAR},
      cn_en_flag = #{record.cnEnFlag,jdbcType=CHAR},
      has_en_flag = #{record.hasEnFlag,jdbcType=CHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      parent_img_id = #{record.parentImgId,jdbcType=VARCHAR},
      img_type = #{record.imgType,jdbcType=CHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.mybatis.bean.auto.WebsiteCulture" >
    update website_culture
    <set >
      <if test="cnid != null" >
        cnId = #{cnid,jdbcType=VARCHAR},
      </if>
      <if test="cnEnFlag != null" >
        cn_en_flag = #{cnEnFlag,jdbcType=CHAR},
      </if>
      <if test="hasEnFlag != null" >
        has_en_flag = #{hasEnFlag,jdbcType=CHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentImgId != null" >
        parent_img_id = #{parentImgId,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null" >
        img_type = #{imgType,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="imgDesc != null" >
        img_desc = #{imgDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.website.mybatis.bean.auto.WebsiteCulture" >
    update website_culture
    set cnId = #{cnid,jdbcType=VARCHAR},
      cn_en_flag = #{cnEnFlag,jdbcType=CHAR},
      has_en_flag = #{hasEnFlag,jdbcType=CHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      parent_img_id = #{parentImgId,jdbcType=VARCHAR},
      img_type = #{imgType,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      img_desc = #{imgDesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.mybatis.bean.auto.WebsiteCulture" >
    update website_culture
    set cnId = #{cnid,jdbcType=VARCHAR},
      cn_en_flag = #{cnEnFlag,jdbcType=CHAR},
      has_en_flag = #{hasEnFlag,jdbcType=CHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      parent_img_id = #{parentImgId,jdbcType=VARCHAR},
      img_type = #{imgType,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>