<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.mybatis.mapper.auto.WebsiteProductMapper" >
  <resultMap id="BaseResultMap" type="com.website.mybatis.bean.auto.WebsiteProduct" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cnId" property="cnid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="cn_en_flag" property="cnEnFlag" jdbcType="CHAR" />
    <result column="has_en_flag" property="hasEnFlag" jdbcType="CHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="sort_number" property="sortNumber" jdbcType="INTEGER" />
    <result column="product_type" property="productType" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.website.mybatis.bean.auto.WebsiteProductWithBLOBs" extends="BaseResultMap" >
    <result column="summary" property="summary" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cnId, title, cn_en_flag, has_en_flag, del_flag, create_user, create_time, update_user, 
    update_time, sort_number, product_type
  </sql>
  <sql id="Blob_Column_List" >
    summary, content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.website.mybatis.bean.auto.WebsiteProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from website_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.website.mybatis.bean.auto.WebsiteProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from website_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from website_product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from website_product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.website.mybatis.bean.auto.WebsiteProductExample" >
    delete from website_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.website.mybatis.bean.auto.WebsiteProductWithBLOBs" >
    insert into website_product (id, cnId, title, 
      cn_en_flag, has_en_flag, del_flag, 
      create_user, create_time, update_user, 
      update_time, sort_number, product_type, 
      summary, content)
    values (#{id,jdbcType=VARCHAR}, #{cnid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{cnEnFlag,jdbcType=CHAR}, #{hasEnFlag,jdbcType=CHAR}, #{delFlag,jdbcType=CHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{sortNumber,jdbcType=INTEGER}, #{productType,jdbcType=CHAR}, 
      #{summary,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.website.mybatis.bean.auto.WebsiteProductWithBLOBs" >
    insert into website_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cnid != null" >
        cnId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="cnEnFlag != null" >
        cn_en_flag,
      </if>
      <if test="hasEnFlag != null" >
        has_en_flag,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="sortNumber != null" >
        sort_number,
      </if>
      <if test="productType != null" >
        product_type,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cnid != null" >
        #{cnid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cnEnFlag != null" >
        #{cnEnFlag,jdbcType=CHAR},
      </if>
      <if test="hasEnFlag != null" >
        #{hasEnFlag,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="sortNumber != null" >
        #{sortNumber,jdbcType=INTEGER},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=CHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.website.mybatis.bean.auto.WebsiteProductExample" resultType="java.lang.Integer" >
    select count(*) from website_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update website_product
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.cnid != null" >
        cnId = #{record.cnid,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.cnEnFlag != null" >
        cn_en_flag = #{record.cnEnFlag,jdbcType=CHAR},
      </if>
      <if test="record.hasEnFlag != null" >
        has_en_flag = #{record.hasEnFlag,jdbcType=CHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.createUser != null" >
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.sortNumber != null" >
        sort_number = #{record.sortNumber,jdbcType=INTEGER},
      </if>
      <if test="record.productType != null" >
        product_type = #{record.productType,jdbcType=CHAR},
      </if>
      <if test="record.summary != null" >
        summary = #{record.summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update website_product
    set id = #{record.id,jdbcType=VARCHAR},
      cnId = #{record.cnid,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      cn_en_flag = #{record.cnEnFlag,jdbcType=CHAR},
      has_en_flag = #{record.hasEnFlag,jdbcType=CHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      sort_number = #{record.sortNumber,jdbcType=INTEGER},
      product_type = #{record.productType,jdbcType=CHAR},
      summary = #{record.summary,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update website_product
    set id = #{record.id,jdbcType=VARCHAR},
      cnId = #{record.cnid,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      cn_en_flag = #{record.cnEnFlag,jdbcType=CHAR},
      has_en_flag = #{record.hasEnFlag,jdbcType=CHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      sort_number = #{record.sortNumber,jdbcType=INTEGER},
      product_type = #{record.productType,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.mybatis.bean.auto.WebsiteProductWithBLOBs" >
    update website_product
    <set >
      <if test="cnid != null" >
        cnId = #{cnid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cnEnFlag != null" >
        cn_en_flag = #{cnEnFlag,jdbcType=CHAR},
      </if>
      <if test="hasEnFlag != null" >
        has_en_flag = #{hasEnFlag,jdbcType=CHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="sortNumber != null" >
        sort_number = #{sortNumber,jdbcType=INTEGER},
      </if>
      <if test="productType != null" >
        product_type = #{productType,jdbcType=CHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.website.mybatis.bean.auto.WebsiteProductWithBLOBs" >
    update website_product
    set cnId = #{cnid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      cn_en_flag = #{cnEnFlag,jdbcType=CHAR},
      has_en_flag = #{hasEnFlag,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      sort_number = #{sortNumber,jdbcType=INTEGER},
      product_type = #{productType,jdbcType=CHAR},
      summary = #{summary,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.mybatis.bean.auto.WebsiteProduct" >
    update website_product
    set cnId = #{cnid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      cn_en_flag = #{cnEnFlag,jdbcType=CHAR},
      has_en_flag = #{hasEnFlag,jdbcType=CHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      sort_number = #{sortNumber,jdbcType=INTEGER},
      product_type = #{productType,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>