<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.mybatis.mapper.auto.WebsiteScopeMapper" >
  <resultMap id="BaseResultMap" type="com.website.mybatis.bean.auto.WebsiteScope" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="fgs_count" property="fgsCount" jdbcType="VARCHAR" />
    <result column="kh_count" property="khCount" jdbcType="VARCHAR" />
    <result column="ry_count" property="ryCount" jdbcType="VARCHAR" />
    <result column="show" property="show" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, `year`, fgs_count, kh_count, ry_count, `show`
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.website.mybatis.bean.auto.WebsiteScopeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from website_scope
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from website_scope
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from website_scope
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.website.mybatis.bean.auto.WebsiteScopeExample" >
    delete from website_scope
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.website.mybatis.bean.auto.WebsiteScope" >
    insert into website_scope (id, `year`, fgs_count, 
      kh_count, ry_count, `show`
      )
    values (#{id,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{fgsCount,jdbcType=VARCHAR}, 
      #{khCount,jdbcType=VARCHAR}, #{ryCount,jdbcType=VARCHAR}, #{show,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.website.mybatis.bean.auto.WebsiteScope" >
    insert into website_scope
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="year != null" >
        `year`,
      </if>
      <if test="fgsCount != null" >
        fgs_count,
      </if>
      <if test="khCount != null" >
        kh_count,
      </if>
      <if test="ryCount != null" >
        ry_count,
      </if>
      <if test="show != null" >
        `show`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="fgsCount != null" >
        #{fgsCount,jdbcType=VARCHAR},
      </if>
      <if test="khCount != null" >
        #{khCount,jdbcType=VARCHAR},
      </if>
      <if test="ryCount != null" >
        #{ryCount,jdbcType=VARCHAR},
      </if>
      <if test="show != null" >
        #{show,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.website.mybatis.bean.auto.WebsiteScopeExample" resultType="java.lang.Integer" >
    select count(*) from website_scope
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update website_scope
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.year != null" >
        `year` = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.fgsCount != null" >
        fgs_count = #{record.fgsCount,jdbcType=VARCHAR},
      </if>
      <if test="record.khCount != null" >
        kh_count = #{record.khCount,jdbcType=VARCHAR},
      </if>
      <if test="record.ryCount != null" >
        ry_count = #{record.ryCount,jdbcType=VARCHAR},
      </if>
      <if test="record.show != null" >
        `show` = #{record.show,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update website_scope
    set id = #{record.id,jdbcType=INTEGER},
      `year` = #{record.year,jdbcType=VARCHAR},
      fgs_count = #{record.fgsCount,jdbcType=VARCHAR},
      kh_count = #{record.khCount,jdbcType=VARCHAR},
      ry_count = #{record.ryCount,jdbcType=VARCHAR},
      `show` = #{record.show,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.mybatis.bean.auto.WebsiteScope" >
    update website_scope
    <set >
      <if test="year != null" >
        `year` = #{year,jdbcType=VARCHAR},
      </if>
      <if test="fgsCount != null" >
        fgs_count = #{fgsCount,jdbcType=VARCHAR},
      </if>
      <if test="khCount != null" >
        kh_count = #{khCount,jdbcType=VARCHAR},
      </if>
      <if test="ryCount != null" >
        ry_count = #{ryCount,jdbcType=VARCHAR},
      </if>
      <if test="show != null" >
        `show` = #{show,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.mybatis.bean.auto.WebsiteScope" >
    update website_scope
    set `year` = #{year,jdbcType=VARCHAR},
      fgs_count = #{fgsCount,jdbcType=VARCHAR},
      kh_count = #{khCount,jdbcType=VARCHAR},
      ry_count = #{ryCount,jdbcType=VARCHAR},
      `show` = #{show,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>